/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  --yellow: #e0f569;
  --new-yellow: #b3f557;
  --blue: #4f8fe7;
}
/* Custom styles (optional) */
body {
  color: #ffffff;
  background-color: transparent;
  /* font-family: 'poppins'; */
  font-family: Arial, Helvetica, sans-serif;
}

.blur-gradient{
  background-image: url(../../public/images/rm380-09.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.yellow-text{
  color: #b3f557;
}

.yellow-border{
  border-color: #e0f569;
}

.yellow-bg{
  background-color: var(--new-yellow);
}

.blue-bg{
  background-color: var(--blue);
}

.pink-text{
  color: #e592e5;
}

.pink-bg{
  background-color: #f379f3;
}

.liquid-marble-bg{
  background-image: url(../../public/images/ddt12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
